<!doctype html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/reset.css" type="text/css">
<link rel="stylesheet" href="/static/zh-cn.css" type="text/css">
<style type="text/css">
</style>
<title>Gorox: 文档</title>
</head>
<body>
	{{block/header.html}}
	{{block/nav.html}}
	<main>
		<h1>文档</h1>
		<ul>
			<li><a href="/docs/operation">操作手册</a></li>
			<li><a href="/docs/reference">参考手册</a></li>
			<li><a href="/docs/developer">开发者手册</a></li>
			<li><a href="/docs/committer">贡献者手册</a></li>
		</ul>
	</main>
	{{block/footer.html}}
</body>
</html>
