<!doctype html>
<html lang="zh">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/reset.css" type="text/css">
<title>Gorox: 关于</title>
</head>
<body>
	{{block/header.html}}
	<style type="text/css">
	main{display:flex;background:#fff;}
	</style>
	<main>
		{{block/about_nav.html}}
		<div>
			<h1>关于</h1>

			<h2>Gorox 是什么？</h2>
			<p>Gorox 是一款先进的 Web 服务器、应用服务器、RPC 服务器和代理服务器。</p>

			<h2>为什么要使用 Gorox？</h2>
			<p>Gorox 提供了一种新选择，使用它，</p>

			<h2>有疑问？</h2>
			<p>内容</p>
		</div>
	</main>
	{{block/footer.html}}
</body>
</html>
