<!doctype html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/reset.css" type="text/css">
<link rel="stylesheet" href="/static/zh-cn.css" type="text/css">
<style type="text/css">
</style>
<title>Gorox: 一款务实的 Web 应用服务器、RPC 框架和网络代理</title>
</head>
<body>
	{{block/header.html}}
	{{block/nav.html}}
	<main>
		<h1>简介</h1>
		<p>Gorox 是一款务实的 Web 应用服务器、RPC 框架和网络代理。</p>

		<h1>资讯</h1>
		<ul>
			<li>
				<h2>[2024-12-31] Gorox v0.2.0 发布</h2>
				<p>欢迎下载使用。</p>
			</li>
			<li>
				<h2>[2023-06-13] Gorox v0.1.7 发布</h2>
				<p>欢迎下载使用。</p>
			</li>
			<li>
				<h2>[2023-06-06] Gorox v0.1.6 发布</h2>
				<p>欢迎下载使用。</p>
			</li>
			<li>
				<h2>[2023-06-02] Gorox v0.1.5 发布</h2>
				<p>欢迎下载使用。</p>
			</li>
			<li>
				<h2>[2023-05-22] Gorox v0.1.4 发布</h2>
				<p>欢迎下载使用。</p>
			</li>
			<li>
				<h2>[2023-05-16] Gorox v0.1.3 发布</h2>
				<p>欢迎下载使用。</p>
			</li>
			<li>
				<h2>[2023-05-10] Gorox v0.1.2 发布</h2>
				<p>欢迎下载使用。</p>
			</li>
			<li>
				<h2>[2023-05-01] Gorox v0.1.1 发布</h2>
				<p>欢迎下载使用。</p>
			</li>
			<li>
				<h2>[2022-10-21] Gorox v0.1.0 发布</h2>
				<p>欢迎下载使用。</p>
			</li>
		</ul>
	</main>
	{{block/footer.html}}
</body>
</html>
