<style type="text/css">
nav{width:15%;background:#ca8;}
</style>

<nav>
	<h2>Gorox 文档</h2>
	<ul>
		<li><a href="/docs/gorox/introduction">Gorox 简介</a></li>
		<li><a href="/docs/gorox/tutorial">Gorox 使用教程</a></li>
		<li><a href="/docs/gorox/architecture">Gorox 架构设计</a></li>
		<li><a href="/docs/gorox/components">Gorox 组件</a></li>
	</ul>
	<h2>Gocmc 文档</h2>
	<ul>
		<li><a href="/docs/gocmc/introduction">Gocmc 简介</a></li>
		<li><a href="/docs/gocmc/tutorial">Gocmc 使用教程</a></li>
		<li><a href="/docs/gocmc/architecture">Gocmc 架构设计</a></li>
	</ul>
</nav>
