<style type="text/css">
header{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	background:#aac;
}
header span{
	display:block;
	height:100px;
	line-height:100px;
	text-align:center;
	background:#f00;
}
header ul{
	display:flex;
	justify-content:center;
}
header li{
	border-right:1px solid #36f;
	background:#aca;
}
header li a{
	display:block;
	padding:10px;
}
</style>

<header>
	<span>Gorox 是一款 HTTP 服务器、应用服务器、微服务服务器和代理服务器。</span>
	<ul>
		<li><a href="/">首页</a></li>
		<li><a href="/about">关于</a></li>
		<li><a href="/download">下载</a></li>
		<li><a href="/docs/gorox/">文档</a></li>
		<li><a href="/community">社区</a></li>
		<li><a href="/developers">开发者</a></li>
		<li><a href="/support">支持</a></li>
		<li><a href="https://github.com/hexinfra/gorox">源码</a></li>
		<li><a href="{{$scheme}}://gorox.net{{$colonPort}}{{$uri}}">English</a></li>
	</ul>
</header>
