*.a
*.dll
*.dylib
*.err
*.exe
*.exe~
*.lib
*.log
*.mine
*.out
*.prof
*.so
*.swp
*.test

.idea
.vscode

.DS_Store
.Spotlight-V100
.Trashes
desktop.ini
Thumbs.db

dist/
logs/
temp/
vars/

/gomake

/goben
/goops
/gorox

/hemi/develop/develop

/hemi/examples/embed/embed
/hemi/examples/myapp/myapp

/hemi/gosites/gosites
