*.swp
*.exe
*.exe~
*.a
*.lib
*.dll
*.so
*.dylib
*.out
*.err
*.log
*.cpu
*.hep
*.thr
*.grt
*.blk
*.test
*.prof
*.mine

.idea
.DS_Store
desktop.ini

/data
/logs
/temp
/dist
/vendor

/gomake
/derox
/goben
/gocmc
/gorox
