*.swp
*.exe
*.exe~
*.a
*.lib
*.dll
*.so
*.dylib
*.out
*.err
*.log
*.test
*.prof
*.mine

.idea
.vscode
.DS_Store
desktop.ini

/dist

/data
/logs
/temp
/gomake
/goben
/goops
/gorox

/hemi/develop/data
/hemi/develop/logs
/hemi/develop/temp
/hemi/develop/develop

/hemi/example/data
/hemi/example/logs
/hemi/example/temp
/hemi/example/example

/hemi/official/data
/hemi/official/logs
/hemi/official/temp
/hemi/official/official
