<!doctype html>
<html lang="zh">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet" href="/static/reset.css" type="text/css">
<link rel="stylesheet" href="/static/doc.css" type="text/css">
<title>Gorox: 文档</title>
</head>
<body>
	{{block/header.html}}
	<style type="text/css">
	main{display:flex;background:green;}
	</style>
	<main>
		{{block/docs_nav.html}}
		<div>
			<h1>文档</h1>
			<h2>Gorox 文档</h2>
			<ul>
				<li>操作手册</li>
				<li>开发者手册</li>
				<li>参考手册</li>
				<li>贡献者手册</li>
			</ul>
			<h2>Goops 文档</h2>
			<ul>
				<li>操作手册</li>
				<li>贡献者手册</li>
			</ul>
		</div>
	</main>
	{{block/footer.html}}
</body>
</html>
