<!doctype html>
<html lang="zh">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet" href="/static/reset.css" type="text/css">
<title>Gorox: 下载</title>
</head>
<body>
	{{block/header.html}}
	<style type="text/css">
	main{display:flex;background:#fff;}
	</style>
	<main>
		{{block/download_nav.html}}
		<div>
			<h1>下载</h1>
			<h2>源代码</h2>
			<p>content</p>
			<h2>Linux</h2>
			<p>content</p>
			<h2>Windows</h2>
			<p>content</p>
			<h2>macOS</h2>
			<p>content</p>
			<h2>FreeBSD</h2>
			<p>content</p>
		</div>
	</main>
	{{block/footer.html}}
</body>
</html>
