<style type="text/css">
nav{background:#ca8;}
</style>

<nav>
	<h2>Quick Links</h2>
	<h3>Gorox Docs</h3>
	<ul>
		<li><a href="/docs/gorox/operation">Operation Manual</a></li>
		<li><a href="/docs/gorox/developer">Developer Manual</a></li>
		<li><a href="/docs/gorox/committer">Committer Manual</a></li>
		<li><a href="/docs/gorox/reference">Reference Manual</a></li>
	</ul>
	<h3>Goops Docs</h3>
	<ul>
		<li><a href="/docs/goops/operation">Operation Manual</a></li>
		<li><a href="/docs/goops/developer">Developer Manual</a></li>
		<li><a href="/docs/goops/committer">Committer Manual</a></li>
	</ul>
</nav>
