<!doctype html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/reset.css" type="text/css">
<link rel="stylesheet" href="/static/zh-cn.css" type="text/css">
<style type="text/css">
</style>
<title>Gorox: 关于</title>
</head>
<body>
	{{block/header.html}}
	{{block/nav.html}}
	<main>
		<h1>关于</h1>

		<h2>简介</h2>

		<h3>Gorox 是什么？</h3>
		<p>Gorox 是一款先进的 Web 服务器、应用服务器、RPC 框架和网络代理。</p>

		<h2>特性</h2>

		<h3>Web 服务器</h3>
		<p>内容</p>
		<h3>应用服务器</h3>
		<p>内容</p>
		<h3>RPC 框架</h3>
		<p>内容</p>
		<h3>网络代理</h3>
		<p>内容</p>

		<h2>性能</h2>
		<p>内容</p>
	</main>
	{{block/footer.html}}
</body>
</html>
