<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet" href="/static/reset.css" type="text/css">
<link rel="stylesheet" href="/static/doc.css" type="text/css">
<title>Gorox: Docs</title>
</head>
<body>
	{{header.html}}
	<style type="text/css">
	main{display:flex;background:green;}
	</style>
	<main>
		{{docs_nav.html}}
		<div>
			<h1>Documentation</h1>
			<h2>Gorox Docs</h2>
			<ul>
				<li>User Manual</li>
				<li>Developer Manual</li>
				<li>Committer Manual</li>
				<li>Reference Manual</li>
			</ul>
			<h2>Gocmc Docs</h2>
			<ul>
				<li>User Manual</li>
				<li>Committer Manual</li>
			</ul>
		</div>
	</main>
	{{footer.html}}
</body>
</html>
