<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet" href="/static/reset.css" type="text/css">
<link rel="stylesheet" href="/static/doc.css" type="text/css">
<title>Gorox: Architecture</title>
</head>
<body>
	{{header.html}}
	<style type="text/css">
	main{display:flex;background:green;}
	</style>
	<main>
		{{docs_nav.html}}
		<article>
			<h1>Gorox Architecture</h1>
			<p>This article describes the architecture design of Gorox.</p>
		</article>
	</main>
	{{footer.html}}
</body>
</html>
