<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet" href="/static/reset.css" type="text/css">
<title>Gorox: Download</title>
</head>
<body>
	{{header.html}}
	<style type="text/css">
	main{display:flex;background:green;}
	</style>
	<main>
		{{download_nav.html}}
		<div>
			<h1>download</h1>
			<h2>Source</h2>
			<p>content</p>
			<h2>Linux</h2>
			<p>content</p>
			<h2>Windows</h2>
			<p>content</p>
			<h2>macOS</h2>
			<p>content</p>
			<h2>FreeBSD</h2>
			<p>content</p>
		</div>
	</main>
	{{footer.html}}
</body>
</html>
