<style type="text/css">
nav{width:15%;background:#ca8;}
</style>

<nav>
	<h2>Gorox Docs</h2>
	<ul>
		<li><a href="/docs/gorox/introduction">Gorox Introduction</a></li>
		<li><a href="/docs/gorox/tutorial">Gorox Tutorial</a></li>
		<li><a href="/docs/gorox/architecture">Gorox Architecture</a></li>
		<li><a href="/docs/gorox/components">Gorox Components</a></li>
	</ul>
	<h2>Gocmc Docs</h2>
	<ul>
		<li><a href="/docs/gocmc/introduction">Gocmc Introduction</a></li>
		<li><a href="/docs/gocmc/tutorial">Gocmc Tutorial</a></li>
		<li><a href="/docs/gocmc/architecture">Gocmc Architecture</a></li>
	</ul>
</nav>
