*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}
html{
	background:#a0a0a0;
}
body{
	font-family:Sans-Serif;
	background:#f0f0f0;
}
main{
	max-width:1200px;
	margin:auto;
}
ul{
	list-style-type:none;
}
a{
	text-decoration:none;
}
