<style type="text/css">
nav{
	background:#e0e0e0;
}
nav img{
	width:100%;
}
nav h2{
	text-align:center;
	background:#996;
}
nav li{
	text-align:center;
	border-top:1px solid #999;
}
nav li a{
	display:block;
	padding:5px;
}
nav li a:hover{
	background:#fff;
}
</style>

<nav>
	<div><img src="/static/logo.png"></div>
	<ul>
		<li><a href="/">首页</a></li>
		<li><a href="/about">关于</a></li>
		<li><a href="/download">下载</a></li>
		<li><a href="/faq">FAQ</a></li>
		<li><a href="/docs">文档</a></li>
		<li><a href="/community">社区</a></li>
		<li><a href="/support">支持</a></li>
		<li><a href="/security">安全</a></li>
		<li><a href="https://github.com/hexinfra/gorox" target="_blank">GitHub</a></li>
		<li><a href="{{$scheme}}://{{@english}}{{$colonPort}}">English</a></li>
	</ul>
</nav>
