<style type="text/css">
nav{background:#ca8;}
</style>

<nav>
	<h3>Gorox 文档</h3>
	<ul>
		<li><a href="/docs/gorox/operation">操作手册</a></li>
		<li><a href="/docs/gorox/developer">开发者手册</a></li>
		<li><a href="/docs/gorox/committer">贡献者手册</a></li>
		<li><a href="/docs/gorox/reference">参考手册</a></li>
	</ul>
	<h3>Goops 文档</h3>
	<ul>
		<li><a href="/docs/goops/operation">操作手册</a></li>
		<li><a href="/docs/goops/developer">开发者手册</a></li>
		<li><a href="/docs/goops/committer">贡献者手册</a></li>
		<li><a href="/docs/goops/reference">参考手册</a></li>
	</ul>
</nav>
