<style type="text/css">
nav{
	width:10%;
	background:#ca8;
}
@media (max-width:600px){
	nav{
		width:20%;
	}
}
nav h2{
	text-align:center;
	background:#996;
}
nav li{
	text-align:center;
	border-bottom:1px solid #999;
	padding:5px;
}
</style>

<nav>
	<h2>导航</h2>
	<ul>
		<li><a href="/">首页</a></li>
		<li><a href="/about">关于</a></li>
		<li><a href="/docs">文档</a></li>
		<li><a href="/community">社区</a></li>
		<li><a href="/support">支持</a></li>
		<li><a href="https://github.com/hexinfra/gorox/releases" target="_blank">下载</a></li>
		<li><a href="https://github.com/hexinfra/gorox" target="_blank">GitHub</a></li>
		<li><a href="{{$scheme}}://{{@en_us}}{{$colonPort}}{{$uri}}">English</a></li>
	</ul>
</nav>
