<!doctype html>
<html lang="zh">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet" href="/static/reset.css" type="text/css">
<link rel="stylesheet" href="/static/doc.css" type="text/css">
<title>Gorox: 用户手册</title>
</head>
<body>
	{{header.html}}
	<style type="text/css">
	main{display:flex;background:#fff;}
	</style>
	<main>
		{{docs_nav.html}}
		<article>
			<h1>用户手册</h1>
			<p>本文描述如何使用 Gorox。</p>
			<p>如果您是一位开发者，在阅读完本文后，还希望学习如何使用 Gorox 进行 Web 应用或微服务开发，那么请继续参考 <a href="/docs/gorox/developer">Gorox 开发者手册</a>。</p>

			<h2>编译与安装</h2>
			<p>在编译 Gorox 前，请确保您的运行平台符合以下要求：</p>
			<ul>
				<li>Linux 内核版本 &gt;= 3.9，CPU 架构为 AMD64 或 ARM64；</li>
				<li>FreeBSD &gt;= 12.0，CPU 架构为 AMD64；</li>
				<li>苹果 macOS &gt;= Catalina，CPU 架构为 AMD64 或 ARM64；</li>
				<li>微软 Windows &gt;= 10，CPU 架构为 AMD64。</li>
			</ul>
			<p>然后，请确保您安装了 Go >= 1.19 版本。</p>
			<h3>编译</h3>
			<code>
			shell&gt; go build cmds/gomake.go<br>
			shell&gt; ./gomake all
			</code>
			<h3>安装</h3>
			<p>在您编译成功，或者下载了二进制版本后，直接把 gorox 所在的目录移到您想要存放的位置，即可。</p>

			<h2>运行模式</h2>
			<p>TODO</p>
			<h3>服务器模式</h3>
			<p>TODO</p>
			<h3>客户端模式</h3>
			<p>TODO</p>

			<h2>启动、停止、重启与升级</h2>
			<p>TODO</p>
			<h3>启动</h3>
			<p>TODO</p>
			<h3>停止</h3>
			<p>TODO</p>
			<h3>重启</h3>
			<p>TODO</p>
			<h3>升级</h3>
			<p>TODO</p>

			<h2>配置</h2>
			<p>TODO</p>
		</article>
	</main>
	{{footer.html}}
</body>
</html>
